<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        # Console appender
        <Console name="stdout" target="SYSTEM_OUT">
            # Pattern of log message for console appender
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level : %msg%n}{FATAL=bg_red, ERROR=bright_red, WARN=bright_yellow, INFO=bright_green, DEBUG=bright_cyan}"/>
        </Console>
    </Appenders>

    <Loggers>
        # Override log level for specified package
        <Logger name="org.rrajesh1979" level="INFO"/>

        <Root level="INFO">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>
</Configuration>